<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.briup.jz.dao.extend.AccountCustomerExtendMapper">
	<select id="select"
		resultMap="AccountCustomerExtendResultMapper">
		select * from jz_account_customer
		<where>
			<if test="userId!=null">
				and user_id = #{userId}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="type!=null">
				and type = #{type}
			</if>
			<if test="id!=null">
				and id = #{id}
			</if>
<!-- 			<if test='applyTime!=null or endTime!=null '>and d.LAST_UPT_DATE between #{apply_time,jdbcType=VARCHAR} -->
<!-- 				and #{endDate,jdbcType=VARCHAR} -->
<!-- 			</if> -->
			<!-- <if test="reason!=null"> -->
			<!-- and reason like concat("%",#{reason},"%") -->
			<!-- </if> -->
		</where>


	</select>
	<!-- 基本属性从extends中已经继承 -->
	<!-- 多对一映射 -->
	<resultMap
		type="com.briup.jz.bean.extend.AccountCustomerExtend"
		extends="com.briup.jz.dao.AccountCustomerMapper.BaseResultMap"
		id="AccountCustomerExtendResultMapper">

		<!-- 多对一映射表 -->
		<association property="baseUser" column="user_id"
			select="com.briup.jz.dao.BaseUserMapper.selectByPrimaryKey">
		</association>

	</resultMap>
</mapper>