<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.jz.dao.extend.ProductExtendMapper">
  <select id="select" resultMap="ProductExtendResultMap">
    select *
    from jz_product
      <where>
          <if test="name != null">
              and name like concat("%",#{name},"%")
          </if>
          <if test="status != null">
              and status = #{status}
          </if>
          <if test="productCategoryId != null">
              and product_category_id = #{productCategoryId}
          </if>
      </where>
  </select>

  <select id="selectById" resultMap="ProductWithAllResultMap">
      select *
      from jz_product
      where id = #{id}
  </select>

    <resultMap
            id="ProductWithAllResultMap"
            type="com.briup.jz.bean.extend.ProductExtend"
            extends="com.briup.jz.dao.ProductMapper.BaseResultMap">
        <!-- 基本属性从extends中已经继承 -->
        <!--一对多映射-->
        <association property="productCategory"
                     column="product_category_id"
                     select="com.briup.jz.dao.ProductCategoryMapper.selectByPrimaryKey">
        </association>
        <!--一对多  根据商品id查询订单-->
        <collection property="order"
                    column="id"
                    select="com.briup.jz.dao.extend.OrderLineExtendMapper.selectByProductId"></collection>
    </resultMap>

    <resultMap
          id="ProductExtendResultMap"
          type="com.briup.jz.bean.extend.ProductExtend"
          extends="com.briup.jz.dao.ProductMapper.BaseResultMap">
          <!-- 基本属性从extends中已经继承 -->
          <!--多对一映射-->
          <association property="productCategory"
                       column="product_category_id"
                       select="com.briup.jz.dao.ProductCategoryMapper.selectByPrimaryKey">
          </association>
    </resultMap>


</mapper>